$event-blue: #3b1582 !default
$event-lightblue: #311482 !default
$event-actionblue: #2e1281 !default
$event-textblue: #2f127e !default

$event-actionpink: #cf057b !default
$event-hoverpink: #cf057d !default
$event-textpink: #cd067d !default

// neutrals
$white: #FFFFFF !default
$neutral: #f5f6fb !default
$black: #000000 !default

// general
$shadow-color: $neutral


// app theme
$app-bg: none !default
$app-fg: $event-blue !default
$content-bg: transparent !default
$content-fg: $app-fg !default
$header-bg: $white !default
$header-fg: $app-fg !default
$footer-bg: $white !default
$footer-fg: $app-fg !default

// text
$text-color: $app-fg !default
$heading-bg: none !default
$heading-fg: $black !default
$sub-heading-bg: none !default
$sub-heading-fg: inherit !default
$link-fg: $event-lightblue !default
$link-bg: none !default
$link-hover-fg: $event-lightblue !default
$link-hover-bg: none !default
$link-active-fg: $event-lightblue !default
$link-active-bg: none !default
$link-visited-fg: $event-lightblue !default
$link-visited-bg: none !default


// actions
$action-bg: $event-actionpink !default
$action-fg: $white !default
$action-border: $event-actionpink !default
$action-hover-bg: $event-actionpink !default
$action-hover-fg: $white !default
$action-hover-border: $event-actionpink !default

$primary-action-bg: $event-actionblue !default
$primary-action-fg: $white !default
$primary-action-border: $event-actionblue !default
$primary-action-hover-bg: $event-actionblue !default
$primary-action-hover-fg: $white !default
$primary-action-hover-border: $event-actionblue !default


// navigation
$nav-fg: $app-fg !default
$nav-bg: transparent !default
$nav-border: transparent !default
$nav-item-fg: $link-fg !default
$nav-item-bg: $link-bg !default
$nav-item-border: transparent !default
$nav-item-hover-fg: $link-fg !default
$nav-item-hover-bg: $neutral !default
$nav-item-hover-border: transparent !default
$nav-item-active-fg: $white !default
$nav-item-active-bg: $neutral !default
$nav-item-active-border: transparent !default