@mixin btn($bg, $fg, $border)
  background: $bg
  color: $fg
  border: 3px solid $border
  font-weight: bold
  border-radius: 15px
  text-decoration: none
  padding: $space*1.5 $space*7
  text-transform: uppercase
  font-size: 1.25rem
  cursor: pointer
  line-height: 1.625rem
  letter-spacing: 1px
  > *
    color: inherit !important


.btn
  @include btn($action-bg, $action-fg, $action-border)
  &:hover
    @include btn($action-hover-bg, $action-hover-fg, $action-hover-border)

.btn.btn-primary
  @include btn($primary-action-bg, $primary-action-fg, $primary-action-border)
  &:hover
    @include btn($primary-action-hover-bg, $primary-action-hover-fg, $primary-action-hover-border)